.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.content {
  // padding: 20px;
  margin: 10px 16px;
}

.page {
  padding: 10px;
  background: #fff;
  minHeight: 360px;
}
